*~
*.o
*.a
*.so
Makefile
*/Makefile
*Makefile.in
configure
intl/*
m4/*
aclocal.m4
configure
configure.in
core/foxeye
ABOUT-NLS
config.h*
config.log
config.rpath
config.status
stamp-h*
*/.deps
doc/foxeye.1
core/foxeye.h
core/init.h
mkinstalldirs
modules/Makefile.mods
doc/modules.api
po/Makefile.in.in
po/POTFILES
po/POTFILES.in
po/*.sed
po/*.sin
po/*.header
po/foxeye.pot
po/Rules-quot
po/*.gmo
