Source: foxeye
Section: net
Priority: optional
Maintainer: Andriy Grytsenko <andrej@rep.kiev.ua>
Build-Depends:
 debhelper (>= 8.9.0~), pkg-config, tcl-dev,
 liblua5.1-dev | liblua5.2-dev, gettext,
 libidn11-dev, zlib1g-dev
Standards-Version: 3.9.6
Homepage: http://foxeye.sf.net
Vcs-Git: git://git.code.sf.net/p/foxeye/code
Vcs-Browser: http://sourceforge.net/p/foxeye/code/ci/master/tree/

Package: foxeye
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Universal modular network agent - binary package
 FoxEye now is multipurpose modular client or service for client-server type
 networks: IRC, ICQ, etc.  All you need to make IRC bot or ICQ client is few
 modules that implement functionality you want.
 .
 This package contains main daemon and few modules.

Package: foxeye-dev
Architecture: any
Depends: ${misc:Depends}, foxeye (= ${binary:Version})
Description: Universal modular network agent - development package
 FoxEye now is multipurpose modular client or service for client-server type
 networks: IRC, ICQ, etc.  All you need to make IRC bot or ICQ client is few
 modules that implement functionality you want.
 .
 This package contains development headers required to create modules.

Package: foxeye-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends}, foxeye (= ${binary:Version})
Description: Universal modular network agent - debugging symbols
 FoxEye now is multipurpose modular client or service for client-server type
 networks: IRC, ICQ, etc.  All you need to make IRC bot or ICQ client is few
 modules that implement functionality you want.
 .
 This package contains the debugging symbols.
