#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh ${@} --parallel

override_dh_auto_configure:
	dh_auto_configure -- --enable-debug=info

override_dh_strip:
	dh_strip --dbg-package=foxeye-dbg

override_dh_install:
	dh_install --fail-missing

override_dh_makeshlibs:
	# modules are not shared libs so disable processing for them
	dh_makeshlibs -X/foxeye/
